
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
body{
    background-color:rgb(40,44,52);
    color: white;
}
    .circle {
       display: inline-block;
        border: 2px solid rgb(40,44,52);
        background-color: rgb(152,195,121);
        height: 55px;
        border-radius:50%;
        width: 55px;
    }
.circlef {
        display: inline-block;
        border: 2px solid rgb(40,44,52);
        background-color: rgb(209,154,102);
        height: 55px;
        border-radius:50%;
        width: 55px;
    }
.circlefuture {
        display: inline-block;
        border: 2px solid rgb(40,44,52);
        background-color: rgb(86,182,194);
        height: 55px;
        border-radius:50%;
        width: 55px;
    }
.streak{
       margin:auto;
        width:50%;
        border-radius: 35px;
        border:solid rgb(171,178,160);
        border-width: 5px 5px 5px 5px;
        padding:10px;
        text-align: center;
        line-height:auto;
        color: rgb(86,182,194);
        font-size:auto;
        font-weight:bold;
          text-decoration: none;
}.streak1{
       margin:auto;
        width:auto;
        padding:10px;
        text-align: center;
        line-height:auto;
        color: rgb(86,182,194);
        font-size:auto;
        font-weight:bold;
          text-decoration: none;
}
.heading{
   font-size:40px;
   position: absolute;
   text-align: center;
   bottom: 0;

}

form{
    background-color:rgb(40,44,52);
    width:50%;
    border: 3px solid rgb(171,178,160);
    border-radius: 35px;
    border-width:5px 10px 5px 10px;
    padding: 1%;
    margin: auto;
    font-size: auto;
    text-align: center;
    line-height:80px;
    color: rgb(86,182,194);
    font-size:32px;
  text-decoration: none;
}
        .ran{
          cursor: pointer;
            width: 20%;
            padding: 12px;
            border: 3px solid rgb(86,182,194);
            border-radius: 20px;
            resize: vertical;
            background-color: rgb(40,44,52);
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .ran:hover{
            background-color: rgb(152,195,121);
            color: white;
            border-color: rgb(152,195,121);
          }
        .write{
          cursor: pointer;
            width: 20%;
            padding: 12px;
            border: 3px solid rgb(86,182,194);
            border-radius: 20px;
            resize: vertical;
            background-color: rgb(40,44,52);
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .write:hover{
            background-color: rgb(152,195,121);
            color: white;
            border-color: rgb(152,195,121);
          }
        .read{
          cursor: pointer;
            width: 20%;
            padding: 12px;
            border: 3px solid rgb(86,182,194);
            border-radius: 20px;
            resize: vertical;
            background-color: rgb(40,44,52);
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .read:hover{
            background-color: rgb(152,195,121);
            color: white;
            border-color: rgb(152,195,121);
          }

          input[type="password"]{
        width: auto;
        padding: 12px;
        border: 3px solid rgb(40,44,52);
        border-radius: 220px;
        resize: vertical;
        background-color: rgb(40,44,52);
        text-align: center;
        font-size: 15px;
        color: white;
      }
      .submit{
        background-color:rgb(40,44,52);
        color: rgb(171,178,160);}
        .submit:hover{
          background-color:rgb(171,178,160);
          color: white;
          border-color: inherit;
        }
        input[type="submit"]{
        width: auto;
        padding: 12px;
        border: 3px solid rgb(171,178,160); ;
        border-radius: 220px;
        resize: vertical;
        font-size: 20px;
        margin: 20px
        }
#days91{
  float: right;
  border: 3px solid rgb(86,182,194);
  color: white;
  border-radius: 110px;
  margin-right: 60px
}
#rangevalue{
  font-size: 200px;
  padding-left: 50px;
}
.lol{  border-radius: 500px;
  padding: 12px;
  border: 3px solid rgb(40,44,52);


}
